
<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
   <br>
   
  <div class="container-fluid">
    <div class="row ">
     <div class="col-sm-6">
      <h3 class="text-center text-muted text-dark "><strong>Scott Arx MTB Cycle Helmet (2018)</strong> </h3>
      <h5 class=" text-center text-muted">Code: 241254 </h5>
      <div class="row">
        <div class="col-md-6">
          <h1 class="text-center text-danger d-inline">  <i class="fas fa-rupee-sign"></i> 2559.99 </h1>
        </div> 
        <div class="col-md-6 ">
          <h6 class="text-muted d-inline"> <b> MRP  <i class="fas fa-rupee-sign"></i>3199.99 | Save  <i class="fas fa-rupee-sign"></i> (20%) </b></h6>
        </div>
      </div>
      <br>
      <h5 class="text-muted"><b>PRODUCT OVERVIEW</b></h5>
      <h6 class="text-muted">The SCOTT Arx MTB Helmet: Style,performance and adjustability,at a very appealing price.
        The MRAS2 fit system ensures a comfortable and secure fit so all you need to do is focus on the trail.
        All the lessons learn from our top mountain bike helmets have trickled down to this great all- </h6>
      <br>
      <p class="text-muted"> <b>Approx. weight: </b> 260g size M  </p>
      <h5 class="text-muted"><b>Features </b></h5>
      <h6 class="text-muted">Optimized Venting</h6>
      <h6 class="text-muted">Optional Reflective Safety Decals</h6>
      <h6 class="text-muted">Adjustable Cam Dividers</h6>
      <h6 class="text-muted">Removable Visor</h6>
      
     
      
    <div class="text-muted" (click)="addToCart()"><b>Qty</b></div>
     <div class="d-flex">
         <button (click)="removeItem()" class="btnSign">-</button> 
         <button>{{amount}}</button>
         <button (click)="addItem()" class="btnSign">+</button>
    </div>

<br>
      <ul class="list-inline">
        <li class="list-inline-item text-muted">Sizes</li>
        <li  class="list-inline-item numberCircle text-muted body">S</li>
        <li  class="list-inline-item numberCircle text-muted body">M</li>
        <li  class="list-inline-item numberCircle text-muted body">L</li>
        <li class="list-inline-item float-right"><a href="#" target="_blank" >MORE</a></li>
      </ul>
      
      <div class="text-center">
        <input type="button" class="btn btn-info btn-success-bordered center-block  mr-4"
          value="Add to Cart" style="width:20%;">
          <input type="button" class="btn btn-warning btn-success-bordered center-block  mr-4"
          value="Amazon" style="width:20%;">
          <input type="button" class="btn btn-info btn-success-bordered center-block"
          value="Flipkart" style="width:20%;">
        </div>
    </div>
 
    <div class="col-sm-6 bg-neon-green">
      <div id="image1" class="cropcircle topright "></div>
          
          <i class="fas fa-bars float-right topright"></i>
          <img src="/assets/images/cart.png" alt="error" class="float-right mr-4" height=5% weight=5%>

           <div class="d-flex justify-content-center">
               <div class="pagination ">	
              <input id="dot-1" type="radio" name="dots">	
              <label for="dot-1"></label>	
              <input id="dot-2" type="radio" name="dots">
              <label for="dot-2"></label>	
              <input id="dot-3" type="radio" name="dots" checked="checked">
              <label for="dot-3"></label>	
              <input id="dot-4" type="radio" name="dots">
              <label for="dot-4"></label>	
              <div class="pacman"></div>
          </div>
         </div> 
       </div>
    </div>
  </div>

  
</body>
</html>


