<div class="container">
    <h1 class="my-4">New Product</h1>
    <form #productCreateForm="ngForm" (ngSubmit)="newProduct()">
      <div class="form-group">
        <label for="name" class="col-sm-2 col-form-label"> Name</label>
        <div class="col-sm-10">
          <input id="name" type="text" name="name" [(ngModel)]=form.name class="form-control" placeholder=" Name" required>
        </div>
      </div>
      <div class="form-group">
        <label for="code" class="col-sm-2 col-form-label">Code</label>
        <div class="col-sm-10">
          <input id="code" type="text" name="code" [(ngModel)]=form.code class="form-control" placeholder="Code" required>
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          <textarea [froalaEditor] id="description" name="description" [(ngModel)]=form.description class="form-control" placeholder="Description"> </textarea>
          <!-- <div [froalaEditor]>Hello, Froala!</div> -->
          <!-- <textarea [froalaEditor] froala="froalaOptions" ng-model="myHtml"></textarea> -->

        </div>
      </div>
      <div class="form-group"> 
        <label for="weight" class="col-sm-2 col-form-label">Approx.weight</label>
        <div class="col-sm-10">  
          <input id="weight" type="text" name="weight" [(ngModel)]=form.weight class="form-control" placeholder="Weight" required>
        </div>
      </div>
      <div class="form-group"> 
        <label for="weight" class="col-sm-2 col-form-label">MRP</label>
        <div class="col-sm-10">  
          <input id="mrp" type="text" name="mrp" [(ngModel)]=form.mrp class="form-control" placeholder="MRP" required>
        </div>
      </div>
      <div class="form-group">
        <label for="features" class="col-sm-2 col-form-label">Features</label>
        <div class="col-sm-10">
          <textarea  [froalaEditor] id="features" name="features" [(ngModel)]=form.features class="form-control" placeholder="Features" required></textarea>
          <!-- <div id="froala-editor" [froalaEditor]>Hello, Froala! </div> -->
       </div>
      </div>

      <div class="form-group">
          <label for="mrp" class="col-sm-2 col-form-label">Upload Image</label>
              <div class="col-sm-10">
                   <input type='file' (change)="onSelectFile($event)" >
              </div>
      </div>

     <form #multiForm="ngForm" class="container mt-3" (ngSubmit)="logValue()">
        <div class="container">
          <div class="col-6">
              <button type="button" class="btn btn-primary mb-2" (click)="addProduct()">Add</button>
            <div class="container border mb-4 p-3" *ngFor="let dynamic of dynamicArray; let i = index;">
              <div class="row">
                <div class="col-6">
                    <h4>Product {{i + 1}}</h4>
                </div>
                <div class="col-6 text-right">
                    <button type="button" class="btn btn-danger btn-sm" (click)="removeProduct(i)">Remove</button>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Color</label>
                        <input type="text" class="form-control" [(ngModel)]="dynamic.color" name="color_{{i}}"/>
                      </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Price</label>
                        <input type="text" class="form-control" [(ngModel)]="dynamic.price" name="price_{{i}}"/>
                      </div>
                </div>
             <div class="col-6">
                <input type="file" id="file" multiple 
                (change)="getFileDetails($event)" [(ngModel)]="dynamic.image" name="image_{{i}}">
    
                </div>
              </div>
             </div>
      
            <div class="text-right">
                <input type="submit" class="btn btn-success" value="Submit"/>
            </div>
            
          </div>
        </div>
      
      </form>
     
      <button type="submit" class="btn btn-primary" [disabled]="!productCreateForm.valid">Add Product</button>
    </form>
  </div>
  