
<div class="container">
    <h1 class="my-4">
     Stocks
      <a [routerLink]="['/createstock/create']" class="btn btn-primary float-right">New Stock</a>
    </h1>
    
      <table class="table">
        <tr>
          <th>ProductID</th>
          <th>Quantity</th>
          <th>Actions</th>           
        </tr>
        <tr *ngFor="let stock of stocks">
          <td>{{stock.product_id}}</td>
          <td>{{stock.Quantity}}</td>
          <td>
            <a [routerLink]="['/stocks/'+stock.id]"  class="btn btn-info mr-2">View</a>
            <a [routerLink]="['/stocks/'+stock.id] +'/edit'" class="btn btn-success mr-2">Edit</a>
            <button type="button" class="btn btn-danger" (click)="deleteStock(stock.id)">Delete</button>
         </td>
        </tr>
      </table>
 
  </div>
