 
<div class="container mt-4">
    <div class="row ">
            <div class="col-sm-4">
            <div class="card">
             
                    <img class="card-img-top" src="/assets/images/helm.png">
                    
                    <div class="card-body text-center">
                      <h5 class="card-title">Scott Arx MTB Cycle Helmet (2018)</h5>
                      <p class="card-text">Rs.3199.99</p>
                    </div>
                  </div>
            </div>

             <div class="col-sm-4">
                  <div class="card">
                        <img class="card-img-top" src="/assets/images/helm.png">
                        <div class="card-body">
                          <h5 class="card-title">Title:</h5>
                          <p class="card-text">Price:</p>
                        </div>
                      </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                            <img class="card-img-top" src="/assets/images/helm.png">
                            <div class="card-body">
                              <h5 class="card-title">Title:</h5>
                              <p class="card-text">Price:</p>
                            </div>
                          </div>
            </div>

            <div class="col-sm-4  mt-4">
              <div class="card">
                    <img class="card-img-top" src="/assets/images/helm.png">
                    <div class="card-body">
                      <h5 class="card-title">Title:</h5>
                      <p class="card-text">Price:</p>
                     </div>
                  </div>
            </div>

             <div class="col-sm-4  mt-4">
                  <div class="card">
                        <img class="card-img-top" src="/assets/images/helm.png">
                        <div class="card-body">
                          <h5 class="card-title">Title:</h5>
                          <p class="card-text">Price:</p>
                        </div>
                      </div>
            </div>
            <div class="col-sm-4  mt-4">
                <div class="card">
                            <img class="card-img-top" src="/assets/images/helm.png">
                            <div class="card-body">
                              <h5 class="card-title">Title:</h5>
                              <p class="card-text">Price:</p>
                            </div>
                 </div>
           </div>

    <div class="col-sm-4  mt-4">
            <div class="card">
                    <img class="card-img-top" src="/assets/images/helm.png">
                    <div class="card-body">
                      <h5 class="card-title">Title:</h5>
                      <p class="card-text">Price:</p>
                    </div>
            </div>
     </div>

                <div class="col-sm-4  mt-4">
                  <div class="card">
                        <img class="card-img-top" src="/assets/images/helm.png">
                        <div class="card-body">
                          <h5 class="card-title">Title:</h5>
                          <p class="card-text">Price:</p>
                      </div>
                  </div>
               </div>
              <div class="col-sm-4  mt-4">
                       <div class="card">
                            <img class="card-img-top" src="/assets/images/helm.png">
                            <div class="card-body">
                              <h5 class="card-title">Title:</h5>
                              <p class="card-text">Price:</p>
                             </div>
                         </div>
              </div>

          <div class="col-sm-4  mt-4">
            <div class="card">
                    <img class="card-img-top" src="/assets/images/helm.png">
                    <div class="card-body">
                      <h5 class="card-title">Title:</h5>
                      <p class="card-text">Price:</p>
                    </div>
                  </div>
             </div>

             <div class="col-sm-4  mt-4">
                  <div class="card">
                        <img class="card-img-top" src="/assets/images/helm.png">
                        <div class="card-body">
                          <h5 class="card-title">Title:</h5>
                          <p class="card-text">Price:</p>
                        </div>
                </div>
             </div>
                <div class="col-sm-4  mt-4">
                    <div class="card">
                            <img class="card-img-top" src="/assets/images/helm.png">
                            <div class="card-body">
                              <h5 class="card-title">Title:</h5>
                              <p class="card-text">Price:</p>
                            </div>
                    </div>
                </div>
</div>
</div>

