<div class="container">
    <h1 class="my-4">
     Orders
      <a [routerLink]="['/orders/createorder']"  href="#" class="btn btn-primary float-right">New Order</a>
    </h1>
    
   
      <table class="table">
        <tr>
          <th>Name</th>
          <th>GrandTotal</th>
          <th>Actions</th>           
        </tr>
        <tr *ngFor="let order of orders">
          <td>{{order.name}}</td>
          <td>{{order.grandtotal}}</td>
          <!-- <td>
            <a [routerLink]="['/orders/'+order.id]"  href="#" class="btn btn-info mr-2">View</a>
            <a [routerLink]="['/orders/'+editorder.id] +'/edit'"  href="#" class="btn btn-success mr-2">Edit</a>
            
         
          </td> -->
        </tr>
      </table>
 
  </div>
