
<div class="container-fluid">
<div class="big-banner img-fluid">
    <form #Forms=ngForm (ngSubmit)="onSubmit()" >
        <div class="py-3"></div>
            <div class="col-6 mx-auto text-white bg-dark">
                    <h1 class="text-center">FORM</h1>
                    <hr>
                    <div class="form-group">
                      <label for="name">Name:</label>
                      <input type="name" class="form-control"  id="name"  [(ngModel)]="form.name" [ngModelOptions]="{standalone: true}" required>
                    </div>
                    <div class="form-group">
                      <label for="code">Code:</label>
                      <input type="code" class="form-control"  id="code"  [(ngModel)]="form.code" [ngModelOptions]="{standalone: true}" required>
                    </div>
                    <div class="form-group">
                        <label for="price">Price:</label>
                        <input type="price" class="form-control"  id="price"  [(ngModel)]="form.price"  [ngModelOptions]="{standalone: true}" required>
                    </div>
                      <div class="form-group">
                      <form method="post">
                          <label for="description" >Description:</label>
                          <textarea class="form-control" [(ngModel)]="form.description"  [ngModelOptions]="{standalone: true}"></textarea>
                          </form>
                      </div>
                      <div class="form-group">
                          <label for="weight">Approx. weight:</label>
                          <input type="weight" class="form-control"  id="weight"  [(ngModel)]="form.weight" [ngModelOptions]="{standalone: true}" required>
                      </div>
                      <div class="form-group">
                          <form method="post">
                              <label for="features" >Features:</label>
                              <textarea class="form-control" [(ngModel)]="form.features"  [ngModelOptions]="{standalone: true}">
                                 
                              </textarea>
                              </form>
                          </div>

          

                 

                      <!-- <div class="form-group">
                          <label>Sizes:</label>
                          <div class="form-control">
                            <label class="radio-inline">
                               <input type="radio" value="small" name="size" [(ngModel)]="form.size">
                               S
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="medium"  name="size" [(ngModel)]="form.size">
                                M
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="large"  name="size" [(ngModel)]="form.size">
                                L
                            </label>

                        </div>
                        </div> -->

              

                    <button type="submit" class="btn btn-primary text-center mb-3" [disabled]="!Forms.valid">Submit</button>
            </div>
       
    <div class="py-5"></div>
</form>
</div>
</div>

