<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
   <br>
   
 <div class="container">
       <div class="row ">
     <div class="col-sm-6">
      
        <h3 class="text-center display-6 text-dark "><strong>Scott Arx MTB Cycle Helmet (2018)</strong> </h3>
           
             <h5 class=" text-center text-muted">Code: 241254 </h5>
     
          
             <div class="row">
              <div class="col-md-6">
                  <h1 class="text-center display-1 text-danger d-inline">  <i class="fas fa-rupee-sign"></i> 2559.99 </h1>
                </div> 
                <div class="col-md-6 ">
                    <h5 class="text-muted d-inline"> <b> MRP  <i class="fas fa-rupee-sign"></i>3199.99 | Save  <i class="fas fa-rupee-sign"></i> (20%) </b></h5>
                  </div>
                  </div>
                            
                 
  
  
                  <h5 class="text-muted"><b>PRODUCT OVERVIEW</b></h5>
   <h5 class="text-muted">The SCOTT Arx MTB Helmet: Style,performance and adjustability,at a very appealing price.
      The MRAS2 fit system ensures a comfortable and secure fit so all you need to do is focus on the trail.
    All the lessons learn from our top mountain bike helmets have trickled down to this great all- </h5>
  <br>
 

    <h5 class="text-muted"> <b>Approx. weight: </b> 260g size M  </h5>
<br>
     <h4 class="text-muted"><b>Features </b></h4>
    <h5 class="text-muted">Optimized Venting</h5>
    <h5 class="text-muted">Optional Reflective Safety Decals</h5>
    <h5 class="text-muted">Adjustable Cam Dividers</h5>
    <h5 class="text-muted">Removable Visor</h5>

    <br>

          <ul class="list-inline">
              <li class="list-inline-item">Sizes</li>
              <li class="list-inline-item numberCircle text-muted body">S</li>
              <li class="list-inline-item numberCircle text-muted body">M</li>
              <li class="list-inline-item numberCircle text-muted body">L</li>
              <li class="list-inline-item">MORE</li>
            </ul>
         
          <div class="text-center">
            <input type="button" class="btn btn-info btn-success-bordered center-block"
             value="Add to Cart" style="width:20%;">
                 
         </div>
      
    </div>
 
    <div class="col-sm-6  ">
      <div class="container bg2 ">
        <div id="image1" class="cropcircle rounded float-left" ></div>
     </div>
</div>
  </div>
 </div>

    
</body>

</html>
