<h1 class="text-center">Showing Product Details</h1>
<div class="container">
    <table class="table">
      
      <tr>
        <th>Name</th>
        <td>{{ product?.name }}</td>
      </tr>
      <tr>
        <th>Code</th>
        <td>{{ product?.code }}</td>
      </tr>
      <tr>
        <th>Price</th>
        <td>{{ product?.price }}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{ product?.description }}</td>
      </tr>
      <tr>
        <th>Approx.weighte</th>
        <td>{{ product?.weight }}</td>
      </tr>
      <tr>
        <th>Features</th>
        <td>{{ product?.features }}</td>
      </tr>
     
    </table>
 
  </div>
