<div class="container">
    <h1 class="my-4">
     Products
      <a [routerLink]="['/products/create']"  href="#" class="btn btn-primary float-right">New Product</a>
    </h1>
    
   
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Actions</th>           
        </tr>
        <tr *ngFor="let product of products">
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>
            <a [routerLink]="['/products/'+product.id]"  href="#" class="btn btn-info mr-2">View</a>
            <a [routerLink]="['/products/'+product.id] +'/edit'"  href="#" class="btn btn-success mr-2">Edit</a>
            <button type="button" class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</button>
          </td>
        </tr>
      </table>
 
  </div>